CONTRACT_ADDRESS="contract_address(gets autofilled when deploy script is run)"
WEB3_INFURA_PROJECT_ID="infura_node_project_id(can create one at https://infura.io/)"
ETHERSCAN_TOKEN="etherscan_api_token(can create one at https://etherscan.io)"
UTILITY_ACCOUNT="name of account added to brownie"
CONSUMER_ACCOUNT="name of (different) account added to brownie"
CONSUMER_ACCOUNT_PASS="password of added account"
UTILITY_ACCOUNT_PASS="password of added account"
